<div class = "container">
  <div class = "row">
    <div class = "col-5">
      <h4 id = "openHeader"> Open Games</h4>
      <app-gametile [game] = "game" [user] = "user" *ngFor = "let game of pendinggames"></app-gametile>
    </div>
    <div class = "col-5">
      <app-leader-board [winlosses] = "winlosses" [range] = "range" [users] = "users" [title] = "title" [global] = "global" [displayNum] = "!global"></app-leader-board>
      <h4 id = "yourTurnHeader"> Your In-progress Games</h4>
      <app-gametile [game] = "game" [user] = "user" *ngFor = "let game of mygames"></app-gametile>
    </div>
    <div class = "col-2">
      <app-global-chat></app-global-chat>
    </div>
  </div>

</div>