<div class="container align-items-center" id="gameTile" (click)="showModal(content)">
  <div class="row vertical-align">
    <div class="col-xs col-centered">
      <img class="Img" src="assets/img/battleshipcover.jpg">
      <p id="gameName">BattleShip</p>
    </div>
    <div class="col-xs col-centered">
      <label class="badge badge-primary">Game started</label>
      <p>{{game?.postDate | date: 'short'}}</p>
      <label class="badge badge-primary">Turn Length</label>
      <p>{{game?.turnLength}} Minutes</p>
    </div>
    <div *ngIf="gameRunning" class="col-xs col-centered">
      <label class="badge badge-warning">Time till end of Turn</label>
      <p>{{game?.turnDeadline | date: 'medium'}}</p>
      <label class="badge badge-primary">Who's Turn</label>
      <!-- <p>{{usernames[0]}}</p> -->
      <p>{{getUsername(game.turn)}}<p>

    </div>
    <div class="col-xs col-centered" *ngIf="gamePending">
      <img class="Img" src= {{gameUser?.profilePic}}>
      <p id="oponentName">{{gameUser1?.username}}</p>
    </div>
    <div class="col-xs col-centered" *ngIf="!gamePending">
      <label class = "badge badge-primary">Game Status </label>
      <p id="gameStatus">{{game.status}}</p>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">BattleShip</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <img class="Img" src="assets/img/battleshipcover.jpg">
        </div>
        <div class="col">
          <div *ngIf="gameRunning">
            <label class="badge badge-warning">Time till Turn over</label>
            <p> {{game.turnDeadline | date: 'medium'}}</p>
            <label class="badge badge-primary">Who's Turn</label>
            <p> {{usernames[game.turn]}}</p>
          </div>
          <label class="badge badge-primary">Turn Length</label>
          <p> {{game.turnLength}} Minutes</p>

        </div>
        <div class="col">
          <img class="Img" src= {{gameUser1?.profilePic}}>
          <p id="oponentName">{{gameUser1?.username}}</p>
          <label class="badge badge-danger"> Win / Losses</label>
          <p> {{winloss.wins}} / {{winloss.losses}}</p>
        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    <button  *ngIf="gamePending && !myGame" type="button" class="btn btn-primary" (click) = "startGame(c)">Start Game</button>
    <button *ngIf="!gamePending && (user.id == game.player1Id || user.id == game.player2Id)" type="button" class="btn btn-primary" (click)="initGame();routeTo('gamer');c('Close click')">Enter Game</button>
    <button *ngIf="!gamePending && user.admin" type="button" class="btn btn-primary" (click)="endGame();c('Close click')">End Game</button>
  </div>
</ng-template>