<div class="container">
  <h3>{{title}}</h3>
  <table class="table table-sm">
    <thead>
      <tr>
        <th></th>
        <th *ngIf = "displayNum"></th>
        <th>Name</th>
        <th>Win/Loss Ratio</th>
        <th>Win vs Losses</th>
      </tr>
    </thead>
    <tbody *ngIf = "range !== undefined"> 
      <tr *ngFor = "let i of range" [ngClass]="winlosses[i].id == user.winLossId ? 'me': 'ignore'">
        <td *ngIf = "displayNum">{{i+1}}</td>
        <td *ngIf = "i == 0"> <img src = "assets/img/trophies/goldTrophy.png" class = "image">  </td>
        <td *ngIf = "i == 1"> <img src = "assets/img/trophies/silverTrophy.png" class = "image"></td>
        <td *ngIf = "i == 2"> <img src = "assets/img/trophies/bronzeTrophy.png" class = "image"></td>
        <td *ngIf = "i > 2"> <img src = "assets/img/trophies/noTrophy.png" class = "image"></td>
        <td>{{convertToUsername(winlosses[i])}}</td>
        <td *ngIf = "global">{{winlosses[i].wins / winlosses[i].losses | number }}</td>
        <td *ngIf = "global">{{winlosses[i].wins}} | {{winlosses[i].losses}}</td>
        <td *ngIf = "!global">{{winlosses[i].seasonWins / winlosses[i].seasonLosses | number }}</td>
        <td *ngIf = "!global">{{winlosses[i].seasonWins}} | {{winlosses[i].seasonLosses}}</td>
      </tr>
    </tbody>
  </table>


</div>