<div class="container">
    <div class="card card-container">
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P1 Finishes Setup
        </button>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P1 Hit
        </button>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P1 Miss
        </button>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P1 Concede
        </button>
    </div>
</div>

<div class="container">
    <div class="card card-container">
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P2 Finishes Setup
        </button>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P2 Hit
        </button>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P2 Miss
        </button>
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()" >
            P2 Concede
        </button>
    </div>
</div>