<div class="container" *ngIf="!this.currGame.turn">
  <div class="card card-container">
    <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="setup()" *ngIf="this.currGame.status == 'setup1'">
      P1 Finishes Setup
    </button>
    <div *ngIf="this.currGame.status == 'inprogress'">
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="hit()">
        P1 Hit
      </button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="turnSwap()">
        P1 Miss
      </button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="concede()">
        P1 Concede
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="card card-container" *ngIf="this.currGame.turn">
    <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="setup()" *ngIf="this.currGame.status == 'setup1'">
      P2 Finishes Setup
    </button>
    <div *ngIf="this.currGame.status == 'inprogress'">
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="hit()">
        P2 Hit
      </button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="turnSwap()">
        P2 Miss
      </button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="concede()">
        P2 Concede
      </button>
    </div>
  </div>
</div>