<nav *ngIf="!hasUser" class="navbar navbar-expand-md navbar-toggleable-md navbar-dark bg-dark justify-content-between sticky-top">
  <label class="navbar-brand active">BattleBlip</label>
  <div ngbDropdown class="d-inline-block">
    <button class="navbar-toggler" id="dropdownBasic1" ngbDropdownToggle>Menu</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="routeTo('/users/home')">Home</button>
      <button class="dropdown-item" (click)= "routeTo('leaderboard')">Leaderboards</button>
      <button class="dropdown-item" (click)="routeTo('lobby')">Lobby</button>
      <button class="dropdown-item" (click)="routeTo('grid')">Test</button>
      <button class="dropdown-item" (click)="routeTo('game/new')">Create New Game</button>
      <button class="dropdown-item" (click)="routeTo('game/my')">My Games</button>
      <button class="dropdown-item" (click)="routeTo('users/myspace')">My Profile</button>
      <button class="dropdown-item" (click) = "routeTo('/login')">Logout</button>
    </div>
  </div>

  <div  class="float">
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('/users/home')">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)= "routeTo('leaderboard')">Leaderboards</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('lobby')">Lobby</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" (click)="routeTo('test')">Test</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('game/new')">Create New Game</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('game/my')">My Games</a>
        </li>
        <li ngbDropdown class="d-inline-block">
          <a *ngIf="!hasUser" class="nav-link active dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{user.username}}</a>
          <a *ngIf="hasUser" class="nav-link active dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>My Profile</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Friends</button>
            <button class="dropdown-item">Private Messages</button>
            <button class="dropdown-item">Settings</button>
            <button class="dropdown-item">Log Out</button>
          </div>
        </li>
        <li>
          <img *ngIf= "user === null" id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <img *ngIf = "user !== null" id="profile-img" class="profile-img-card" (click)="routeTo('users/myspace')"  src = {{user.profilePic}} />
        </li>
        <li class = "nav-item active">
          <a class = "nav-link" (click) = "routeTo('/login')">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>