<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between navbar-static-top">
  <a class="navbar-brand active" href="#">BattleBlip</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="float">
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('/users/home')">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)= "routeTo('leaderboard')">Leaderboards</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('lobby')">Lobby</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" (click)="routeTo('test')">Test</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('game/new')">Create New Game</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="routeTo('game/my')">My Games</a>
        </li>
        <li ngbDropdown class="d-inline-block">
          <a class="nav-link active dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>My Profile</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Friends</button>
            <button class="dropdown-item">Private Messages</button>
            <button class="dropdown-item">Settings</button>
            <button class="dropdown-item">Log Out</button>
          </div>
        </li>
        <li>
          <img *ngIf= "user === null" id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <img *ngIf = "user !== null" id="profile-img" class="profile-img-card" src = {{user.profilePic}} />
        </li>
        <li class = "nav-item active">
          <a class = "nav-link" (click) = "routeTo('/login')">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>