<div class="container">
  <h3>TOP TEN</h3>
  <table class="table table-sm">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Win/Loss</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let i of range" >
        <td *ngIf = "i == 0"> <img src = "assets/img/trophies/goldTrophy.png" class = "image">  </td>
        <td *ngIf = "i == 1"> <img src = "assets/img/trophies/silverTrophy.png" class = "image"></td>
        <td *ngIf = "i == 2"> <img src = "assets/img/trophies/bronzeTrophy.png" class = "image"></td>
        <td *ngIf = "i > 2"> <img src = "assets/img/trophies/noTrophy.png" class = "image"></td>
        <td>{{convertToUsername(winlosses[i])}}</td>
        <td>{{winlosses[i].wins / winlosses[i].losses | number }}</td>
      </tr>
    </tbody>
  </table>


</div>