<div class="container">
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" (ngSubmit)="createGame()">        
            <div>
                    <label class="">Game Type</label>
            </div>
            
            <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="newUser.role" [ngModelOptions]="{standalone: true}">
                <label ngbButtonLabel class="btn-primary btn-radio">
                    <input ngbButton type="radio" name="radios" id="radios-0" [value]="1"> Battleship
                </label>
            </div>

            <div>
                    <label class="">Turn Length</label>
            </div>
            
            <div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="newUser.role" [ngModelOptions]="{standalone: true}">
                <label ngbButtonLabel class="btn-primary btn-radio">
                    <input ngbButton type="radio" name="radios" id="radios-0" [value]="30"> 30 Minutes
                </label>
                <label ngbButtonLabel class="btn-primary btn-radio">
                    <input ngbButton type="radio" name="radios" id="radios-1" [value]="60"> 1 Hour
                </label>
                <label ngbButtonLabel class="btn-primary btn-radio">
                    <input ngbButton type="radio" name="radios" id="radios-1" [value]="1440"> 1 Day
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Create Game</button>
        </form>
        <!-- /form -->
        <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="cancel()">
            Cancel
        </button>
    </div>
</div>