<div class="text-center">
  <h1>BATTLEBLIP</h1>
  <h2 class="form-signin-heading">Sign in to play</h2>
</div>

<div class="container">
  <form class="form-signin" (submit)="submit()">
    <label for="inputUsername" class="sr-only">UserName</label>
    <input [(ngModel)]="credential.username" name="email" type="email" id="inputUsername" class="form-control" placeholder="Username"
      required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="credential.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
      required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <button class="btn btn-lg btn-secondary btn-block" (click)="showModal(content)" type="button">Create User</button>
  </form>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create User</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form class="modal-form">
        <div class="row">
          <div class="col">
            <label class="badge badge-primary">UserName</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input [(ngModel)]="user.username" name="username" type="text" id="usernameinput" placeholder="Username">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label class="badge badge-primary">Password</label>
          </div>
        </div>
        <div class="form row">
          <div class="col">
            <input [(ngModel)]="user.password" name="password" type="password" id="passwordinput" placeholder="Password">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label class="badge badge-primary">Email</label>
            </div>
            </div>
            <div class = "form-row">
              <div class = "col">
            <input [(ngModel)]="user.email" name="email" type="text" id="emailinput" placeholder="Email">
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <label class="badge badge-primary">Pic a Profile Picture</label>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <img src="assets/img/profilepics/1.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="assets/img/profilepics/1.jpg"
                [(ngModel)]="user.profilePic" checked> 1
            </label>
          </div>
          <div class="col">
            <img src="assets/img/profilepics/2.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="assets/img/profilepics/2.jpg"
                [(ngModel)]="user.profilePic"> 2
            </label>
          </div>
          <div class="col">
            <img src="assets/img/profilepics/3.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="assets/img/profilepics/3.jpg"
                [(ngModel)]="user.profilePic"> 3
            </label>
          </div>
          <div class="col">
            <img src="assets/img/profilepics/4.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="assets/img/profilepics/4.jpg"
                [(ngModel)]="user.profilePic"> 4
            </label>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <img src="assets/img/profilepics/5.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="assets/img/profilepics/5.jpg"
                [(ngModel)]="user.profilePic"> 5
            </label>
          </div>
          <div class="col">
            <img src="assets/img/profilepics/6.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="assets/img/profilepics/6.jpg"
                [(ngModel)]="user.profilePic"> 6
            </label>
          </div>
          <div class="col">
            <img src="assets/img/profilepics/7.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="assets/img/profilepics/7.jpg"
                [(ngModel)]="user.profilePic"> 7
            </label>
          </div>
          <div class="col">
            <img src="assets/img/profilepics/8.jpg" class="formimg">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="assets/img/profilepics/8.jpg"
                [(ngModel)]="user.profilePic"> 8
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="createUser(c)">Create</button>
  </div>
</ng-template>