<div class="text-center">
  <h1>BATTLEBLIP</h1>
  <h2 class="form-signin-heading">Sign in to play</h2>
</div>

<div class="container">
  <form class="form-signin" (submit)="submit()">
    <label for="inputUsername" class="sr-only">UserName</label>
    <input [(ngModel)]="credential.username" name="email" type="email" id="inputUsername" class="form-control" placeholder="Username"
      required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="credential.password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"
      required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>