<h4>Stats</h4>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Lifetime</h5>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Wins</th>
          <th>Losses</th>
          <th>Ratio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{winLoss.wins}}</td>
          <td>{{winLoss.losses}}</td>
          <td>{{(winLoss.wins/winLoss.losses).toFixed(2)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h5>Seasonal</h5>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Wins</th>
          <th>Losses</th>
          <th>Ratio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{winLoss.seasonWins}}</td>
          <td>{{winLoss.seasonLosses}}</td>
          <td>{{(winLoss.seasonWins/winLoss.seasonLosses).toFixed(2)}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>