<div class="container">
  <div class="row">
    <h3>Carrier</h3>
    <app-healthstatus></app-healthstatus>
  </div>
  <div class="row">
    <h3>Battleship</h3>
    <app-healthstatus></app-healthstatus>
  </div>
  <div class="row">
    <h3>Submarine</h3>
    <app-healthstatus></app-healthstatus>
  </div>
  <div class="row">
    <h3>Destoryer</h3>
    <app-healthstatus></app-healthstatus>
  </div>
  <div class="row">
    <h3>PatrolBoat</h3>
    <app-healthstatus></app-healthstatus>
  </div>

</div>